.banner {
	text-align: left;
	font-size: 8vh;
	color: white;
	font-family: 'Franklin Gothic Medium';
}

body {
	background-color: black;
}

#main-nav *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#main-nav a{
	color: white;
	background-color: black;
	display: block;
	font-family: 'Franklin Gothic Medium';
	font-size: 4.5vh;
	text-decoration: none;
	max-height: 10em;
}

#main-nav a:hover{
	background-color: #305753;
}

.current-page{
	font-weight: bold;
}

.footer{
	display: flex;
	background-color: black;
	flex-direction: column;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.footer-item{
	color: white;
	font-family: 'Franklin Gothic Medium';
	font-size: 2.8vh;
}

img{
	max-height: 5em;
	bottom: 0;
	right: 0;
	position: fixed;
}

.arrow{
	opacity: 0;
}

.services{
	width: 100%;
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
    font-family: 'Franklin Gothic Medium';
	transform: translateY(10%);
}

.services-container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.service-box{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	width: 400px;
	padding: 20px 25px;
	height: 250px;
	box-sizing: border-box;
	position: sticky;
	margin-inline: 5em;
	background-color: white;
}

.service-box h1{
	color: black;
	letter-spacing: 1px;
	font-size: 1rem;
	margin-bottom: 4px;
}

.service-box p{
	color: black;
	text-align: center;
	font-size: .7em;
}

.bar{
	width: 100px;
	height: 6px;
	position: absolute;
	left: 50%;
	top: 0%;
	transform: translateX(-50%);
	background-color: black; 
	border-radius: 0px 0px 10px 10px;
	animation: bar 0.5s;
}

.service-box:hover{
	box-shadow: 2px 2px 30px wheat;
	transition: all ease 0.3s;
}

.smallerScreen{
	font-size: 2.7vh;
	font-family: 'Franklin Gothic Medium';
	color: white;
	max-height: 20em;	
	display: none;
}

@media screen and (min-width: 601px) and (max-width: 1023px){
	.smallerScreen{
		font-size: 2.2vh;
		display: block;
		transform: translateY(5%);
	}

	.services-container{
		display: none;
	}
}

@media screen and (max-width: 600px){

	img{
		max-height: 3.5em;
	}

	#main-nav{
		transform: translate(0%, 50%);
	}

	#main-nav a{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2.5vh;
		transition: background 0.4s;
	}

	#main-nav ul{
		list-style: none;
		display: flex;
	}

	#main-nav li{
		width: 100%;
		text-align: center;
		position: relative;
	}

	#main-nav li:hover .submenu > li{
		display: block;
		top: 0;
	}

	.submenu li{
		display: none;
		position: absolute;
		top: 0;
	}

	.submenu{
		display: flex;
		flex-direction: column;
		position: absolute;
		width: 100%;
	}

	.arrow{
		opacity: 100;
	}

	.current-page{
		font-weight: normal;
	}

	
	.footer-item{
		font-size: 2.3vh;	
	}

	.smallerScreen{
		font-size: 2.0vh;
		position: fixed;
		top: -70%;
		transform: translate(0%, 80%);
		word-wrap: break-word;
		display: block;
	}

	.services-container{
		display: none;
	}
}
